<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>In Bio</title>
  <link href="../screen.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body style='background: #E6E6E6'>
  <div class='container' style='width: 600px; margin: 0 auto'>
    <div class='span-23' style='max-width:600px; background:white; margin-top:20px; margin: 0 auto'>
      <div id='header' class='clearfix' style='border-bottom: 1px solid; background: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#ECECEC)); padding: 1em 2em 0 2em'>
        <img style='float: left; height: 32px' src='/in2.jpg'> </img>
        <h2 style='font-weight: bold; margin-left: 0.2em; color: #444; float: left; margin-bottom: 0.5em'> 
          Bio 
        </h2>

        <div style='float: right; margin-top: 0.5em'>
          Hi, <%= session[:user_name] %>! &nbsp;&nbsp;
          <a href='/logout'> Logout </a>
        </div>
      </div>

      <div id=bio style='color: #333; font-size: 1.2em; padding: 2em;'>
        <%= @summary.summarize(@level).strip.gsub("\n", "<br />") %>

        <div id='button_strip' style='margin: 2em 1em; text-align: center'>
        <form action="/">
          <input type=hidden name='url' value='<%= @url %>' />
          <input type=hidden name='level' id='text_level' value='<%= @summary.level %>' />

          <input type=submit name='shorten' value='Make it shorter' <%= "disabled=disabled" if @summary.level >= 4 %> style='margin: 0 2em'/>
          <input type=submit name='elongate' value='Make it longer' <%= "disabled=disabled" if @summary.level <= 0 %> style='margin: 0 2em'/>
        </form>
        </div>
      </div>
      
      <div id='search_bar' style='border-top: 1px solid #aaa;background: #f9f; color: #222'>
        <form action="/" style='width: 100%; padding: 0.5em 1em;'>
          <span style='font-size: 1.1em'> Someone else's bio <small>(enter Profile URL)</small>:  </span>
          <input style='width:300px' type='text' name='url' />
          <input type='submit' value='Fetch' />
        </form>
      </div>
    </div>
  </div>

</body>
